<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict><key>isvalid</key><false/><key>pixels</key><array><true/><true/><false/><true/><false/><true/><false/><true/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><false/><false/><false/><false/><false/><false/><false/><false/></array></dict>
<dict><key>isvalid</key><true/><key>pixels</key><array><false/><false/><true/><false/><false/><false/><false/><false/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><true/><true/><true/><true/><true/><true/><true/><true/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><false/><true/><false/><true/><false/><true/><false/><true/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><true/><false/><true/><false/><true/><false/><true/><false/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><true/><true/><false/><true/><true/><false/><true/><true/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><true/><false/><false/><true/><false/><false/><true/><true/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><false/><true/><true/><false/><true/><false/><true/><true/></array></dict>
<dict><key>isvalid</key><true/><key>pixels</key><array><false/><false/><true/><false/><false/><false/><false/><false/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><false/><true/><false/><true/><false/><false/><false/><false/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><false/><false/><true/><true/><true/><false/><false/><false/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><true/><false/><false/><false/><false/><false/><false/><false/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><false/><true/><false/><false/><false/><false/><false/><false/></array></dict>
<dict><key>isvalid</key><true/><key>pixels</key><array><false/><false/><true/><false/><false/><false/><false/><false/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><false/><false/><false/><true/><false/><false/><false/><false/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><false/><false/><false/><false/><true/><false/><false/><false/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><false/><false/><false/><false/><false/><true/><false/><false/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><false/><false/><false/><false/><false/><false/><true/><false/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><false/><false/><false/><false/><false/><false/><false/><true/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><true/><false/><true/><true/><false/><false/><true/><true/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><true/><false/><true/><true/><false/><true/><true/><true/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><true/><true/><false/><true/><true/><true/><true/><true/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><true/><true/><false/><true/><true/><false/><true/><false/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><false/><true/><false/><true/><false/><true/><false/><false/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><true/><true/><true/><false/><true/><true/><true/><false/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><false/><false/><false/><true/><false/><false/><false/><true/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><false/><true/><false/><false/><false/><false/><true/><false/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><false/><false/><true/><false/><false/><true/><false/><false/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><false/><false/><false/><true/><true/><false/><false/><false/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><true/><false/><true/><false/><true/><false/><true/><false/></array></dict>
<dict><key>isvalid</key><true/><key>pixels</key><array><false/><false/><true/><false/><false/><false/><false/><false/></array></dict>
<dict><key>isvalid</key><true/><key>pixels</key><array><false/><false/><true/><false/><false/><false/><false/><false/></array></dict>
<dict><key>isvalid</key><true/><key>pixels</key><array><false/><false/><true/><false/><false/><false/><false/><false/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><true/><false/><false/><true/><false/><false/><true/><false/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><false/><false/><true/><false/><true/><true/><true/><false/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><false/><false/><true/><false/><false/><false/><false/><true/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><false/><false/><true/><false/><false/><false/><true/><false/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><false/><false/><true/><false/><false/><true/><false/><false/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><false/><false/><true/><false/><true/><false/><false/><false/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><false/><false/><true/><true/><false/><false/><false/><false/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><false/><true/><true/><false/><false/><false/><false/><false/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><true/><false/><true/><false/><false/><false/><false/><false/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><true/><true/><false/><true/><false/><true/><false/><false/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><false/><false/><false/><false/><false/><false/><false/><false/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><true/><false/><false/><false/><false/><false/><false/><false/></array></dict>
<dict><key>isvalid</key><true/><key>pixels</key><array><false/><false/><true/><false/><false/><false/><false/><false/></array></dict>
<dict><key>isvalid</key><true/><key>pixels</key><array><false/><false/><true/><false/><false/><false/><false/><false/></array></dict>
<dict><key>isvalid</key><true/><key>pixels</key><array><false/><false/><true/><false/><false/><false/><false/><false/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><false/><false/><true/><true/><true/><false/><false/><false/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><false/><false/><false/><true/><false/><false/><false/><false/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><false/><false/><true/><true/><true/><false/><false/><false/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><true/><true/><true/><false/><false/><false/><false/><false/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><false/><false/><true/><false/><false/><false/><true/><true/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><false/><true/><true/><false/><false/><false/><false/><false/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><false/><false/><true/><false/><true/><false/><false/><false/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><false/><true/><true/><false/><false/><false/><false/><true/></array></dict>
<dict><key>isvalid</key><true/><key>pixels</key><array><false/><false/><true/><false/><false/><false/><false/><false/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><false/><true/><true/><false/><false/><true/><false/><false/></array></dict>
<dict><key>isvalid</key><true/><key>pixels</key><array><false/><false/><true/><false/><false/><false/><false/><false/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><false/><false/><true/><false/><false/><true/><false/><false/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><true/><true/><true/><false/><false/><false/><false/><false/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><true/><false/><true/><true/><false/><false/><false/><false/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><true/><true/><false/><false/><false/><false/><false/><false/></array></dict>
<dict><key>isvalid</key><true/><key>pixels</key><array><false/><false/><true/><false/><false/><false/><false/><false/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><false/><false/><false/><true/><false/><false/><false/><false/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><false/><false/><false/><false/><true/><true/><false/><false/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><false/><false/><false/><false/><false/><true/><true/><true/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><false/><true/><false/><true/><true/><false/><true/><false/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><false/><true/><true/><false/><false/><false/><false/><false/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><false/><false/><true/><true/><false/><true/><false/><false/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><true/><false/><false/><false/><true/><true/><false/><true/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><true/><false/><true/><false/><true/><false/><true/><false/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><true/><true/><true/><true/><true/><true/><true/><true/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><false/><false/><true/><false/><true/><false/><true/><false/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><true/><false/><true/><true/><false/><true/><false/><true/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><false/><false/><false/><false/><true/><false/><false/><true/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><false/><true/><false/><true/><false/><false/><false/><false/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><false/><false/><true/><false/><false/><true/><false/><true/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><false/><true/><false/><true/><false/><false/><false/><false/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><false/><false/><true/><false/><true/><false/><false/><true/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><false/><true/><true/><true/><false/><false/><false/><true/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><true/><false/><true/><false/><false/><false/><false/><false/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><false/><true/><false/><true/><false/><false/><false/><true/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><false/><false/><false/><false/><true/><false/><false/><true/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><false/><false/><false/><false/><false/><true/><false/><false/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><false/><false/><true/><false/><false/><false/><true/><false/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><false/><false/><false/><true/><false/><true/><false/><false/></array></dict>
<dict><key>isvalid</key><false/><key>pixels</key><array><true/><false/><true/><false/><false/><false/><false/><false/></array></dict>
<dict><key>isvalid</key><true/><key>pixels</key><array><false/><false/><true/><false/><false/><false/><false/><false/></array></dict>
<dict><key>isvalid</key><true/><key>pixels</key><array><false/><false/><true/><false/><false/><false/><false/><false/></array></dict>
</array>
</plist>
